<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>NULLSEC Framework</vendor>
  <vendor_url>https://github.com/bad-antics</vendor_url>

  <action id="com.nullsec.desktop">
    <description>Run NULLSEC Desktop with root privileges</description>
    <message>Authentication is required to run NULLSEC Framework</message>
    <icon_name>security-high</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/antics/nullsec/nullsec-desktop/launcher.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.nullsec.framework">
    <description>Run NULLSEC Framework with root privileges</description>
    <message>Authentication is required to run NULLSEC Framework</message>
    <icon_name>security-high</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/antics/nullsec/nullsec</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
